<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%-include('partials/head')%>

</head>
<body>
    <%- include('partials/navigation') %>
  <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="display-1">About</h1>
        <p>En este sentido, la educación es una condición necesaria para promover la salud de los individuos y
            las comunidades. La educación debe favorecer el acceso a la información, el desarrollo de las habilidades
            para la vida, la identificación de posibilidades de elección saludables y el empoderamiento de los individuos
            y la comunidad para actuar en defensa de su salud. La promoción de la salud, desde la intervención
            educativa, se relaciona con el fortalecimiento de aquellos factores que mejoren la calidad de vida: los
            valores sociales (responsabilidad, solidaridad, cooperación, compromiso, entre otros), la participación de los
            individuos en actividades comunitarias y su integración en actividades grupales positivas (deportes, lecturas,
            arte, entre otras); la integración de la familia a la actividad escolar y el desarrollo personal de los individuos
            (autoestima, relaciones interpersonales, proyectos de vida, superación de obstáculos, derechos y deberes,
            entre otros).
        </p>
    </section>
  </main>
  <%-include('partials/footer')%>
</body>
</html>