<footer class="bg-dark text-center p-4">
<p class="h5">La educación es una condición necesaria para promover la salud de los individuos y
    las comunidades. </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>